<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.chalmers.group42.runforlife"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
The following two permissions are not required to use 
Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="se.chalmers.group42.runforlife.RunForLifeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="se.chalmers.group42.runforlife.StatusIconHandler" >
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name="se.chalmers.group42.controller.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.chalmers.group42.controller.RunActivity"
            android:label="run_activity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="se.chalmers.group42.gameModes.CoinCollectorActivity"
            android:label="coin_collector_activity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="se.chalmers.group42.gameModes.EscapeActivity"
            android:label="escape_activity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="se.chalmers.group42.gameModes.ShooterActivity"
            android:label="shooter_activity"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="se.chalmers.group42.controller.FinishedRunActivity"
            android:label="finished_run_activity"
            android:parentActivityName="se.chalmers.group42.controller.CompletedRunListActivity"
            android:screenOrientation="nosensor" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.chalmers.group42.controller.CompletedRunListActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAntUo60DSK3G7I_PG5XLtD1LaeK9liquU" />
        <!-- <activity android:name="se.chalmers.group42.gameModes.CoinCollectorActivity" android:label="coin_collector"></activity> -->
        <activity
            android:name="se.chalmers.group42.controller.CompletedRunListActivity"
            android:label="@string/title_completedrun_list"
            android:parentActivityName="se.chalmers.group42.controller.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.chalmers.group42.controller.MainActivity" />
        </activity>
        <activity
            android:name="se.chalmers.group42.controller.CompletedRunDetailActivity"
            android:label="@string/title_completedrun_detail"
            android:parentActivityName="se.chalmers.group42.controller.CompletedRunListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.chalmers.group42.runforlife.CompletedRunListActivity" />
        </activity>
        <activity
            android:name="se.chalmers.group42.controller.SettingsActivity"
            android:label="@string/title_settings" >
        </activity>
        <activity
            android:name="se.chalmers.group42.gameModes.TutorialActivity"
            android:label="@string/title_activity_tutorial" >
        </activity>
    </application>

</manifest>